body {
  background-color: #222222;
  color: #CCCCCC;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.top {
  width: 100%;
}

.add-task {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  font-size: 24px;
  width: 100%;
}

.add-task:hover {
  opacity: 1;
}

.add-task:active {
  transform: scale(0.95);
  opacity: 1;
}

.bottom {
  width: calc(100% - 8px);
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.side-panel {
  background-color: #111111;
  height: 92vh;
  padding: 8px;
  font-size: 24px;
  min-width: 142px;
  box-shadow: 2px 0 5px -2px black;
}

.project-list  {
  margin-top: 8px;
}

.add-project {
  position: absolute;
  background-color: #555;
  color: white;
  padding: 8px 10px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  font-size: 24px;
  bottom: 30%;
}

.add-project:hover {
  opacity: 1;
}

.add-project:active {
  transform: scale(0.9);
  opacity: 1;
}


.content{
  width: calc(100% - 8px);
  padding: 8px;
  height: 92vh;
  font-size: 24px;
}

.project-list > div {
  margin-left: 16px;
  margin-bottom: 8px;
  width: fit-content;
}

.project-list > div:hover {
  color: #EEEEEE;
  font-weight: bolder;
  transform: scale(1.1);
  cursor: pointer;
}

.content > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  margin-top: 8px;
  border-style: solid;
}

.content > div > div {
  display: flex;
  flex-grow: 1;
  width: 0;
}

.btn-div {
  justify-content: flex-end;
  gap: 16px;
}

.edit, .delete {
  background-color: #555;
  color: white;
  padding: 8px 10px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  font-size: 18px;
}

.edit:hover, .delete:hover {
  opacity: 1;
}

.edit:active, .delete:active {
  opacity: 1;
  transform: scale(0.9);
}

.pop-ups {
  display: none;
  position: fixed;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%, 0);
  border: 3px solid #f1f1f1;
  z-index: 9;
  background-color: #444444;
  color: #DDDDDD;
  padding: 8px;
}

.pop-ups > div {
  display: none;
  width: fit-content;

}

.form-container input[type=text], .form-container input[type=date] {
  width: 88%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background-color: #111111;
  color: #DDDDDD;
}

.priority-selectors {
  display: flex;
  flex-direction: row;
  margin: 5px 0 22px 0;
  gap: 16px;
}

.btn-cancel-task,
.btn-add-task,
.btn-cancel-project,
.btn-add-project,
.btn-cancel-edit,
.btn-add-edit {
  background-color: #222222;
  color: white;
  padding: 8px 10px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  font-size: 18px;
  margin-left: 12px;
}

.btn-cancel-task:hover,
.btn-add-task:hover,
.btn-cancel-project:hover,
.btn-add-project:hover,
.btn-cancel-edit:hover,
.btn-add-edit:hover {
  opacity: 1;
}

.btn-cancel-task:active,
.btn-add-task:active,
.btn-cancel-project:active,
.btn-add-project:active,
.btn-cancel-edit:active,
.btn-add-edit:active {
  opacity: 1;
  transform: scale(0.9);
}
